# Byte-compiled / optimized Python files
__pycache__/
*.pyc

# Virtual environment
venv/
.env
pico/config.py

# IDE specific files
*.vscode/

# Dependency directories
env/
build/
dist/

# Logs and databases
*.log
*.sql
